variable "hugo_bucket_name" {
  default = "" // your S3 Bucket for Hugo site objects.
}

variable "s3_origin_id" {
  default = "hugoS3Origin"
}

variable "github_location" {
  default = "" // your repository location of Hugo project at GitHub
}
